#canvas {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    margin: auto;
}

body {
    background-color: lightcoral;
}


.p {
    font-size: larger;
    color: lightgrey;
    margin: auto;
    font-weight: 200;
}